$input-placeholder-color: rgb(253, 253, 253);
$primaryColor:rgba(116, 116, 116);

 .logo{
     object-fit: cover;
 }
 #menuAppBar{
     margin-left:50px;
 }
 #input{color: white;
     background-color:$primaryColor;
     &::placeholder{
        color: rgba(255, 255, 255, 0.664);
    }
 }
 #search{
     margin-left: 0px;
     margin-right: 0px;color: rgb(226, 213, 213);
   
    
 }
 .navCont{
    position: sticky;
 }