
/* .container{
  height: 500px;width: 100vw;
  background-color: rgb(47, 47, 47);
} */
.class{height: 100vh;
  display: flex;
  justify-content: center;align-items: center;
}
.body{
  position: relative;
}
#appBar{
  position: sticky;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
